{% extends 'base.html' %}


{% block content %}

{% include 'partials/top.html' %}


<header>
    <div class="header">
        <div class="hero-header">
            <div class="center">
                <div class="hero-text">
                    <h1 class="gradient-text">home page</h1>
                </div>
                <p>home pape</p>


                <button>manage your tasks</button>
            </div>
        </div>
    </div>

</header>

<main>
    <div class="aside">
        <div class="aside-component">

        </div>
    </div>
</main>

{% endblock content %}