{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'partials/navbar.html' %}

<div class="profile-body ">
    <div class="profile-component">
        <div class="profile-heading">
            {% if user.is_authenticated %}
            <h1> welcome back , <span>{{ user.username }}</span></h1>
            {% endif %}
        </div>
        <div class="profile-container">
            <div class="profile-content">
                <div class="personal-details">
                    <h1>Your personal details</h1>
                    <form action="#">
                        <label for="username-update">your username as it will show on the project page.</label>
                        <input type="text" id="username" value="enos muthiani">
                        <label for="bio">add bio,</label>
                        <textarea name="bio" id="bio" cols="30" rows="10"
                            placeholder=" tell us something about youself"></textarea>
                        <button type="submit">update profile</button>
                    </form>
                </div>
                <div class="update-password">
                    <h1>Security</h1>
                    <form action="#">
                        <label for="password">Your current password</label>
                        <input type="password" name="current-password">
                        <label for="password">Your new password</label>
                        <input type="password" name="new-password">
                        <label for="password">Repeat new password</label>
                        <input type="password" name="new-conf-password">
                        <button>update password</button>
                        <a href="#">forgot password <span>--></span></a>
                    </form>
                </div>
                <div class="delete-account">
                    <h1>Delete Account </h1>
                    <form action="#">
                        <p>deleting your account means that all your projects and task will be deleted!</p>
                        <button>delete account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .profile-component {
        margin: 1rem 8rem;
        border-right: 2px solid #b9b1ff1c;
        border-left: 2px solid #b9b1ff1c;
        color: #FFF;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-component .profile-heading {
        margin: 1rem 0;
    }

    .profile-component .profile-heading h1 {
        font-size: 20px;
        letter-spacing: .3px;
        line-height: 32px;

    }

    .profile-component .profile-heading span {
        font-weight: 500;
        letter-spacing: .4px;

        text-transform: capitalize;
    }

    .profile-component form {
        display: flex;
        flex-direction: column;
        align-self: start;
    }

    .profile-component form textarea,
    .profile-component form input {
        padding: 6px 14px;
        font-size: 18px;
        color: #ffffffd2;
        background: #08091667;
        margin-bottom: 1rem;
        border-radius: 4px;
        border: 0;
        outline: 3px solid #ffffff50;

    }
    .profile-component form textarea:focus,
    .profile-component form input:focus{
        border: 1px solid #ffffffab;
    }

    .profile-component form button {
        margin: 2rem 0 1rem 0;
        padding: 4px 14px;
        font-size: 18px;
        line-height: 28px;
        border-radius: 4px;
        background: rgb(20, 157, 220);
        color: #fffffff3;
        letter-spacing: .4px;
       
    }

    .profile-component .delete-account {
        outline: 2px solid rgba(241, 104, 104, 0.87);
        border: 1px solid rgb(241, 104, 104);
        padding: .5rem 1rem;
        border-radius: 10px;
    }

    .profile-component .delete-account form button {
        padding: 4px 14px;
        font-size: 18px;
        line-height: 28px;
        border-radius: 4px;
        background: rgb(241, 104, 104);
        color: #fffffff3;
        border: 0;
        letter-spacing: .4px;
    }
</style>


{% endblock content %}