/* --- top ---- css  */

.top {
    position: fixed;
    top: 0;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    background-color: #08091617;
    z-index: 1000;
    width: 100%;
}

.top::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #b9b1ff28;
    left: 0;

}

.top .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.top .top-container .logo h1 {
    text-transform: uppercase;
    line-height: 36px;
    font-size: 26px;
    font-weight: 500;
}

.top .top-container form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top .top-container form input {
    padding: 6px 14px;
    font-size: 16px;
    color: #FFF;
    background: #080916e1;
    border-radius: 4px 0 0 4px;
    transition: all .2s ease-in;
    border: 0;
    height: 36px;


}

.top .top-container form input {
    padding: 0 40px;
}

.top .top-container form .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 19%;
    transform: translateY(-39%);

}

.top .top-container form .search-icon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-39%);
}

.top .top-container form button {
    padding: 6px 14px;
    height: 36px;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    background: rgba(1, 147, 214, 0.753);
    color: #fffffff3;

}

.top .top-container .user {
    display: flex;
    align-items: center;


}

.top .top-container .user .notifications {
    cursor: pointer;
    position: relative;
    margin-right: 2.5rem;
}

.top .top-container .user .notifications span {
    position: absolute;
    top: 0%;
    right: -4%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: crimson;
    z-index: 1;
    padding: 4px;
}

.top .top-container .user .notification-content {
    position: absolute;
    top: 90%;
    right: 1%;
    padding: 6px 1rem;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: #080916e1;
    outline: 2px solid #b9b1ff1c;
    width: 300px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    /* display: none; */

}

.top .top-container .user .notification-content a {
    color: #ffffff94;
    transition: all .2s ease-in;
}

.top .top-container .user .notification-content a:hover {
    text-decoration: dotted;
    color: #FFF;
}

.top .top-container .user .notification-content>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .top-container .user .profile {
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid #fffffff3;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    background: radial-gradient(27.05% 32.66% at 49.24% 0.54%, #1A1E60 0%, #0D0F2B 52.17%, rgba(8, 9, 22, 0.97) 99.48%);
    padding: 1rem 2rem;
}

.main-container {
    display: flex;
    align-items: center;
}

.aside {
    position: fixed;
    left: 0;
    top: 15%;
    backdrop-filter: blur(20px);
    background: #080916e1;
    border-right: 2px solid #b9b1ff1c;
    height: 89%;
    /* width: 400px; */
}

.aside .aside-component {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 2rem;
    height: 100%;
}

.aside .aside-component .top-aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.aside .aside-component .home,
.tasks,
.add-task,
.settings {
    display: flex;
    align-items: center;

}

.aside .aside-component .aside-box,
.menu {
    padding: 6px 1rem;
}

.aside .aside-component .aside-box:hover {
    background: #0a0b2554;
}

.aside .aside-component .aside-link {
    margin-left: 10px;
    font-size: 17px;
    line-height: 26px;
    color: rgba(225, 224, 255, 0.83);
    text-transform: capitalize;
}

/* task css styling  */
.task-container {
    color: #E1E0FF;
    margin-top: 5rem;
    margin-left: 200px;
    width: 100%;
    padding: 10px 16px;
}

.task-container .user-greeting,
.task-complete,
.all-task,
.menu-icon {
    display: flex;
    align-items: center;

}

.task-container .user-greeting .boxy {
    outline: 3px solid #0193d6;
    height: 35px;
    width: 35px;
    border-radius: 24% 5%;
    margin-right: 16px;
}

.task-container .user-greeting h2 {
    font-size: 18px;
    color: #E1E0FF;
}

.task-container .user-greeting .username span {
    font-weight: 500;
    letter-spacing: .3px;
}

.task-container .user-greeting .username p {
    font-size: 16px;
    color: #ffffffb9;
}

.task-container .task-components {
    background: radial-gradient(27.05% 70.66% at 80.24% .54%, #1A1E60 0%, #0D0F2B 52.17%, rgba(8, 9, 22, 0.97) 99.48%);

}

.task-container .user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

}

.task-container .user-component  .complete-boxy {
    background: cadetblue;
    height: 25px;
    width: 25px;
    border-radius: 24% 5%;
    margin-right: 16px;
    color: #E1E0FF;
    display: flex;
    justify-content: center;
    align-items: center;

}

