/* --- top ---- css  */

.top {
    position: fixed;
    top: 0;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    background-color: #08091617;
    z-index: 1000;
    width: 100%;
}

.top::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #b9b1ff28;
    left: 0;

}

.top .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .top-container .logo {
    min-width: 100px;
}

.top .top-container .logo h1 {
    text-transform: uppercase;
    line-height: 36px;
    font-size: 26px;
    font-weight: 500;
}

.top .top-container form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: 1.75px solid #b9b1ff1c;
    border-radius: 4px;
}

.top .top-container form input {
    padding: 6px 14px;
    font-size: 16px;
    color: #FFF;
    background: #08091693;
    border-radius: 4px 0 0 4px;
    transition: all .2s ease-in;
    border: 0;
    height: 36px;
    width: 100%;
    max-width: 340px;


}

.top .top-container form input {
    padding: 0 40px;
}

.top .top-container form .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 22%;
    transform: translateY(-39%);
    display: none;
}

.top .top-container form .search-icon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-39%);
}

.top .top-container form button {
    padding: 6px 14px;
    height: 36px;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    background: rgba(1, 147, 214, 0.753);
    color: #fffffff3;

}

.top .top-container .user {
    display: flex;
    align-items: center;
    gap: 1rem;


}

.top .top-container .user .notifications {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}



.top .top-container .user .notifications span {
    position: absolute;
    top: 0%;
    right: -4%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: crimson;
    z-index: 1;
    padding: 4px;
}

.top .top-container .user .notification-content {
    position: absolute;
    top: 90%;
    right: 1%;
    padding: 6px 1rem;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background: #080916e1;
    outline: 2px solid #b9b1ff1c;
    min-width: 240px;
    width: auto;
    max-width: 400px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    display: none;

}

.top .top-container .user .notification-content a {
    color: #ffffff94;
    transition: all .2s ease-in;
}

.top .top-container .user .notification-content a:hover {
    text-decoration: dotted;
    color: #FFF;
}

.top .top-container .user .notification-content>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .top-container .user .profile {
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid #fffffff3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .top-container .user-info:hover .user-details {
    display: block;
}

.top .top-container .user-info {
    position: relative;
}

.top .top-container .user-details {
    position: absolute;
    top: 108%;
    right: 7px;
    padding: 6px 1rem;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    color: #E1E0FF;
    font-size: 16px;
    background: #080916e1;
    outline: 2px solid #b9b1ff1c;
    z-index: 1;
    width: auto;
    min-width: 200px;
    display: none;
}

.top .top-container .user-details span {
    margin-left: 6px;
    font-size: 15px;
}

.top .top-container .user-details .user p {
    text-wrap: nowrap;
}

.top .top-container .user-details .user {
    padding-bottom: 5px;
    border-bottom: 1px solid #b9b1ff1c;
}

/* top media queries css  */
@media screen and (max-width: 320px) {
    .top .top-container form {
        display: none;
    }
}

/* small devices */
@media screen and (max-width: 500px) {
    .top .top-container .logo h1 {
        line-height: 26px;
        font-size: 20px;
    }



}


/* medium screen devices  */
@media screen and (max-width: 768px) {}


main {
    background: radial-gradient(27.05% 32.66% at 49.24% 0.54%, #1A1E60 0%, #0D0F2B 52.17%, rgba(8, 9, 22, 0.97) 99.48%);
    padding: 1rem 2rem;
}

.main-container {
    /* display: flex; */
}

.aside {
    position: fixed;
    top: 71px;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: #08091617;
    border-right: 2px solid #b9b1ff1c;
    transition: width 0.4s ease;
    width: 235px;
    height: 90vh;
    z-index: 3;
}

.aside .aside-component {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 0;
    margin-left: 1.75rem;
    height: 100%;
}

.aside .aside-component .top-aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.aside .aside-component .home,
.tasks,
.add-task,
.settings,
.menu {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: 10px;

}

.aside .aside-component .aside-box .settings {
    margin-bottom: 2.5rem;
}

.aside .aside-component .menu {
    cursor: pointer;

}

.aside .aside-component .aside-box.active svg path {

    stroke: #0193d6;

}

.aside .aside-component .aside-box.active {
    background-color: #0193d625;

}

.aside .aside-component .aside-box.active .aside-link {
    color: #0193d6;
}

.aside .aside-component .menu:hover svg path {
    stroke: #0193d6;
}

.aside .aside-component .aside-box {
    margin: .25rem 0;
}

.aside .aside-component .aside-box:hover .aside-link {
    color: rgba(255, 77, 0, 0.86);

}

.aside .aside-component .aside-box:hover svg path {
    stroke: #FF4D00;

}

.aside .aside-component .aside-link {
    font-size: 17px;
    color: rgba(225, 224, 255, 0.83);
    text-transform: capitalize;
    /* display: none; */
}


/* task css styling  */
.task-container {
    margin-top: 5rem;
    color: #E1E0FF;
    margin-left: 200px;
    max-width: 95%;
    width: auto;
    padding: 10px 16px;
}

.task-container .user-greeting,
.task-complete,
.all-task,
.menu-icon {
    display: flex;
    align-items: center;

}

.task-container .user-greeting .boxy {
    outline: 3px solid #0193d6;
    height: 35px;
    width: 35px;
    border-radius: 24% 5%;
    margin-right: 16px;
}

.task-container .user-greeting h2 {
    font-size: 18px;
    color: #E1E0FF;
}

.task-container .user-greeting .username span {
    font-weight: 500;
    letter-spacing: .3px;
    text-transform: capitalize;
    color: #E1E0FF;

}

.task-container .user-greeting .username p {
    font-size: 16px;
    color: #ffffffd3;
}

.task-components {
    z-index: 1;
}

/* .task-container .task-components {
    background: radial-gradient(20.05% 32.66% at 45.24% 100%, #1A1E60 0%, #0D0F2B 52.17%, rgba(8, 9, 22, 0.97) 99.48%);
} */


.task-container .user-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0 .25rem;

}

.task-container .user-component .complete-boxy {
    background: #232c2e;
    height: 25px;
    min-width: 25px;
    max-width: max-content;
    padding: 0 8px;
    border-radius: 24% 5%;
    margin-right: 16px;
    color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* task container media queries css  */

/* small devices */
@media screen and (max-width: 500px) {
    .task-container .user-greeting .boxy {
        height: 30px;
        width: 30px;
    }


}


/* medium screen devices  */
@media screen and (max-width: 768px) {}





.projects,
.single-tasks,
.completed-tasks,
.category {
    padding: 1rem .25rem;
}

.projects .project-content .projects-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.projects .project-content .projects-top h2,
.categories .category-top h2 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
}

.projects .project-content .projects-top a,
.categories .category-top a {
    color: #ffffff94;
    font-size: 17px;
}

.projects .project-content .projects-top a:hover,
.categories .category-top a:hover {
    text-decoration: underline;
}

.projects .project-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}







.project-container .project-box {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
    background: #0809164b;
    padding: 8px 18px;
    border-radius: 12px;
    width: max-content;
    max-width: 450px;
}

.project-container .project-box .box-line {
    position: absolute;
    top: 10%;
    left: 0;
    border-left: 2px solid #FF4D00;
    height: 80%;
    margin-left: -1px;
    transition: all .4s ease;
}

.project-container .project-box:hover {
    box-shadow: 3px 6px 10px rgba(8, 9, 22, 0.194);
}

/* .project-container .project-box:hover .box-line {
    box-shadow: #ff3c00 0 0 100px 8px;
    z-index: -1;
} */
.project-container .project-box h3 {
    font-size: 18px;
    line-height: 28px;
}

.project-container .task-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-container .task-details .percentage-complete {
    background-color: rgba(47, 79, 79, 0.233);
    padding: .2rem .4rem;
    border-radius: 30px;
    font-size: 15px;
    color: chocolate;
}

.project-container .project-box .project-category-name {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.project-container .project-box .project-category-name a {
    text-transform: capitalize;
    padding: .2rem .75rem;
    transform: all .3s ease;
}

.project-container .project-box .project-category-name a:hover {
    text-decoration: underline;
}

.project-container .project-box .project-category-name .due {
    background-color: #0193d625;
    padding: .2rem .75rem;
    border-radius: 30px;
    color: #0193d6;
}

.project-container .project-box .project-box-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #b9b1ff1c;
    padding-top: 8px;
    border-radius: 2px;
}


.project-container .project-box .project-box-bottom .time,
.project-box-bottom .no-of-task {
    display: flex;
    align-items: center;

}

.project-container .project-box .project-box-bottom .time p,
.project-box-bottom .no-of-task p {
    font-size: 16px;
    line-height: 26px;
    margin-left: 8px;
    color: #ffffffc0;
}

.empty-box {
    outline: 2px solid #0193d683;
    font-size: 18px;
    text-transform: capitalize;
}

.empty-box:hover svg {
    transform: rotate(360deg);
    transition: transform 0.8s ease;
}





/* / category css  */

.categories .category-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.categories .category-box {
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
    background: #0809164b;
    padding: 8px 18px;
    border-radius: 12px;
    width: max-content;
    max-width: 450px;
}

.categories .category-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.categories .category-container .category-box {
    padding: .75rem 1rem;
}

.categories .category-box {

    display: flex;
    flex-direction: column;
}

.categories .category-box .circle {
    place-self: flex-end;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #0193d6;

}

.categories .category-box a {
    text-transform: capitalize;
    margin: 10px 1rem;
    line-height: 26px;
    font-size: 18px;

}

.categories .category-box p {
    font-size: 16px;
    margin: 0 1rem;
    color: #ffffff7e;

}


/* /// single tasks css  */
.single-tasks {
    margin-top: 2rem;
}

.single-tasks .single-task-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.single-tasks .single-task-top .single-heading {
    display: flex;
    align-items: center;

}

.single-tasks .single-task-top .single-heading h1 {
    font-size: 18px;
    font-weight: 400;
    margin-right: 1rem;
    color: #ffffffef;
}

.single-tasks .single-task-top .single-heading span {
    background: #ffffff2a;
    color: #E1E0FF;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 8px;
}

.single-tasks .single-task-top .percentage {
    background: #ffffff15;
    color: rgba(43, 255, 1, 0.842);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 8px;
    z-index: 1;
}

.single-tasks .single-task-top .add-icon {
    /* flex: .5; */
    position: relative;
}

.single-tasks .single-task-top .add-icon span {
    position: absolute;
    bottom: 2%;
    /* right: 100%; */
    transform: translate(-2%, -2%);
    padding: 4px 16px;
    background: #080916a4;
    color: #E1E0FF;
    border-radius: 5px;
    text-wrap: nowrap;
    display: none;
}

.single-tasks .single-task-top .add-icon:hover span {
    display: block;
}

.single-tasks .single-task-box {
    margin-top: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.single-tasks .single-task-box .checkbox-task {
    display: flex;
    align-items: center;
}

.single-tasks .single-task-box {
    z-index: 1;
    backdrop-filter: blur(10px);
    background: #0809164b;
    padding: 8px 18px;
    border-radius: 12px;
}

.single-tasks .single-task-box #status {
    margin-right: 1rem;
}

.single-tasks .single-task-box p {
    text-decoration: line-through;
    color: #ffffff94;
}

#completed-tasks {
    margin-top: 2rem;
}

#completed-tasks * {
    z-index: 1;
}

#completed-tasks .complete-task-top {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;

}

#completed-tasks .complete-task-top h1 {
    text-transform: capitalize;
    line-height: 32px;
    margin-right: 1rem;
    font-size: 18px;
}

#completed-tasks .complete-task-top span {
    background: #ffffff15;
    color: rgba(43, 255, 1, 0.842);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 8px;
}

/* Tab Buttons */
.tab-task {
    margin: 1px 30px;

}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.tab-button {
    border: 1px solid rgba(225, 224, 255, 0.116);
    background-color: transparent;
    padding: 6px 16px;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff59;
    transition: all .2s ease-in;
    width: 100%;
}

.tab-button.active {
    border-radius: 2px;
    border-bottom: 3px solid #FF4D00;
    color: #E1E0FF;
}

.complete-task-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}

.tab-task .complete-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(225, 224, 255, 0.07);
    padding: 8px 18px;
    border-radius: 10px;
    border: 2px solid rgba(225, 224, 255, 0.116);
    /* max-width: 300px; */
    margin-bottom: 1rem;

}

.complete-box .boxy {
    place-self: flex-end;
    outline: 2px solid #0193d6;
    height: 18px;
    width: 18px;
    border-radius: 24% 5%;
    margin-bottom: 6px;
}

.complete-box .complete-box-bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #b9b1ff1c;
    padding-top: 8px;
    border-radius: 2px;
    width: 100%;
}

.complete-box .complete-box-bottom .time-finished {
    display: flex;
    align-items: center;
    gap: 10px;
}

.complete-box .complete-box-bottom button {
    padding: 3px 10px;
    background: transparent;
}

.complete-box-bottom button:hover .complete-box {
    border: 2px solid firebrick;
}


/* Tab Content */
.tab-content {
    display: flex;
    flex-direction: column;
}

.complete-task-container,
.complete-categories {
    display: none;
}

.complete-task-container.active,
.complete-categories.active {
    display: block;
}

.category-complete {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.category-complete .category-box {

    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(225, 224, 255, 0.07);
    padding: 8px 18px;
    border-radius: 10px;
    border: 2px solid rgba(225, 224, 255, 0.116);
    min-width: 150px;
}

.category-complete .category-box .circle {
    place-self: flex-end;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #0193d6;

}

.category-complete .category-box a {
    text-transform: capitalize;
    line-height: 26px;
    font-size: 18px;

}

.category-complete .category-box .category-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-complete .category-box button {
    padding: 3px;
    background: transparent;
    place-self: flex-end;
}