{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link to css -->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/global.css' %}">


    <!-- link to js -->
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static '/js/ajax.js' %}"></script>
    Copy code
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block title %}
    <title></title>
    {% endblock title %}
</head>

<body>
    {% include 'base/loading.html' %} 
    {% block content %} 

    {% endblock content %}

</body>

</html>